{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <p align="center">
        {% if type == "zodiacs" %}
            <h6 class="display-6">Совместимость по знакам зодиака</h6>
            <h6> &nbsp; </h6>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <p>
                    <select class="form-select" aria-label="Default select example" name="his_sign">
                        <option selected value="None">{{ form.his_sign.label }}</option>
                        <option value="Овен">Овен</option>
                        <option value="Телец">Телец</option>
                        <option value="Близнецы">Близнецы</option>
                        <option value="Рак">Рак</option>
                        <option value="Лев">Лев</option>
                        <option value="Дева">Дева</option>
                        <option value="Весы">Весы</option>
                        <option value="Скорпион">Скорпион</option>
                        <option value="Стрелец">Стрелец</option>
                        <option value="Козерог">Козерог</option>
                        <option value="Водолей">Водолей</option>
                        <option value="Рыбы">Рыбы</option>
                    </select>
                </p>
                <p>
                    <select class="form-select" aria-label="Default select example" name="her_sign">
                        <option selected value="None">{{ form.her_sign.label }}</option>
                        <option value="Овен">Овен</option>
                        <option value="Телец">Телец</option>
                        <option value="Близнецы">Близнецы</option>
                        <option value="Рак">Рак</option>
                        <option value="Лев">Лев</option>
                        <option value="Дева">Дева</option>
                        <option value="Весы">Весы</option>
                        <option value="Скорпион">Скорпион</option>
                        <option value="Стрелец">Стрелец</option>
                        <option value="Козерог">Козерог</option>
                        <option value="Водолей">Водолей</option>
                        <option value="Рыбы">Рыбы</option>
                    </select>
                </p>
                <h6> &nbsp; </h6>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                <div>{{ message }}</div>
                <div>{{ percent }}</div>
            </form>
        {% elif type == "names" %}
            <h6 class="display-6">Совместимость по именам</h6>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Его полное имя</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="his_name">
                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" id="inputGroup-sizing-default">Её полное имя</span>
                    <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="her_name">
                </div>
                <h6> &nbsp; </h6>
                <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
                <div>{{ message }}</div>
                <div>{{ percent }}</div>
            </form>
        {% endif %}
    </p>
</body>
{% endblock %}