{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h6 class="display-6"> Места силы </h6>
    <a>Ни для кого не секрет, что многим ведьмакам и ведьмам помогает энергия сильных мест, но какие это места? Вот наш небольшой список мест, которые мы советуем посетить:</a>
    <ul>
        {% for img in images %}
            <li><p class="lead">{{ img[1] }}</p></li>
            <img src="{{ url_for('static', filename='img/' + img[0]) }}" alt="Здесь должна была быть картинка, но она не нашлась.">
        {% endfor %}
    </ul>
    <a>Невероятно, эти места поражают нас не только своей силой, но и красотой, у многих, после посещения этих прекрасных достопримечательностей, фото пейзажей ещё долгое время остаются на обоях...</a>
</body>
{% endblock %}