{% extends "base.html" %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h3>Профиль пользователя {{current_user.name}}</h3>
    <h5>Имя при регистрации: {{ current_user.name }} {{ current_user.surname}}</h5>
    <h5>Ваша почта: {{ current_user.email }}</h5>
    <h5>Фото профиля:</h5>
    <img src="{{url_for('static', filename=photo)}}" width="100" height="100" alt="здесь должна была быть картинка, но не нашлась">
    <br>
    <form class="login_form" method="post" enctype="multipart/form-data" style="line-height: 35px">
        <div class="form-group">
            <input type="file" class="form-control-file" id="photo" name="file">
        </div>
            <br><a href="/profile"><button type="submit" class="btn btn-primary">Изменить фото профиля</button></a>
    </form>

</body>
{% endblock %}